---
- name: run optional versionscheck
  ansible.builtin.include_tasks: versioncheck.yml
  when: submodules_versioncheck|bool

- name: deploy restic template
  ansible.builtin.template:
    src: templates/restic_forget_snapshots.j2
    dest: /opt/restic-backup.sh
    group: "{{ restic_archiver__owner }}"
    owner: "{{ restic_archiver__group }}"
    mode: 0700
  become: true

- name: setup logrotate
  ansible.builtin.include_tasks: logs.yml
  when: restic_archiver__log_output | bool

- name: create cronjob
  ansible.builtin.include_tasks: cron.yml
# todo: replace with systemd timer

- name: install requirements for mailing
  ansible.builtin.include_tasks: mail.yml
  when: restic_archiver__mailsummary | bool
